/* Write your code here. */
nav {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff33;
  padding: 1em;
}
nav div {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0.5em;
}
nav div h1 {
  color: white;
}
nav div p {
  color: white;
  font-weight: 800;
  font-size: 23px;
  margin-right: 0.5em;
}
